<!DOCTYPE html>
<html>

  {% include /head.html %}

	<body id="top">

        {% include /header.html %}

        <!-- Banner -->
        <section id="banner">
            <div class="inner">
                <h1>Wyngate</h1>
                <p>A mobile ad exchange for forward thinking apps, websites, and agencies.</p>
                <ul class="actions">
                    <li><a href="#apps-websites" class="button big alt">Apps &amp; Websites</a></li>
                    <li><a href="#ad-agencies" class="button big alt">Ad Agencies</a></li>
                </ul>
            </div>
        </section>
        {{ content }}
        {% include /footer.html %}

    </body>

</html>
